<!--Tomamos la base de nuestra plantilla principal -->
{% extends 'base.html' %}

<!-- Asignamos un titulo -->
{% block titulo %}
    Olvide mi contraseña
{% endblock titulo %}
    
<!-- Hacemos el contenido -->

{% block contenido %}
<div class="contenedor" style="min-height: 320px;">
    <h1>Olvide mi contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.name }}">Inserta tu correo electronico</label>
            <input type="text" name="{{ form.email.name }}" id="" class="form-control" placeholder="correo@example.com">
        </div>
        <button type="submit" class="btn">Enviar</button>
    </form>
</div>
{% endblock contenido %}
    