<!--Tomamos la base de nuestra plantilla principal -->
{% extends 'base.html' %}

<!-- Asignamos un titulo -->
{% block titulo %}
    Olvide mi contraseña
{% endblock titulo %}
    
<!-- Hacemos el contenido -->

{% block contenido %}
<div class="contenedor" style="min-height: 320px;">
    <h1>Restablecimiento de contraseña completado</h1>
    <p>Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.
        </p>
    <a href="/">Iniciar sesión</a>
</div>
{% endblock contenido %}
    