<!--Tomamos la base de nuestra plantilla principal -->
{% extends 'base.html' %}

<!-- Asignamos un titulo -->
{% block titulo %}
    Cambiar contraseña
{% endblock titulo %}
    
<!-- Hacemos el contenido -->

{% block contenido %}
<div class="contenedor" style="min-height: 650px;">
    <h1>Cambiar contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.name }}">Contraseña antigua</label>
            <input type="password" name="{{ form.old_password.name }}" id="" class="form-control">
            <div class="error">{{ form.old_password.errors }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.name }}">Nueva contraseña</label>
            <input type="password" name="{{ form.new_password1.name }}" id="" class="form-control">
            <div class="error">{{ form.new_password1.errors }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.name }}">Nueva contraseña(Confirmación)</label>
            <input type="password" name="{{ form.new_password2.name }}" id="" class="form-control">
            <div class="error">{{ form.new_password2.errors }}</div>
        </div>
        <button type="submit" class="btn">Hecho</button>
    </form>
</div>
{% endblock contenido %}
    